NEXT_PUBLIC_PB_URL
NEXT_PUBLIC_ROOT_DOMAIN=

POCKETBASE_API_URL=
POCKETBASE_ADMIN_TOKEN=

MINIO_ENDPOINT=
MINIO_BUCKET=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_PUBLIC_URL=

PB_SERVICE_EMAIL=
PB_SERVICE_PASSWORD=

ANALYTICS_CRON_SECRET=
ANALYTICS_TIMING

OPENAI_API_KEY=